<%- include("partials/header") %>

    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <!-- Post previews -->
                <% postArray.forEach(post=> { %>
                    <div class="post-preview">
                        <a href="/posts/<%= post.title %>">
                            <h2 class="post-title">
                                <%= post.title %>
                            </h2>
                            <h3 class="post-subtitle">
                                <%= stripHTML(post.postBody).slice(0, 60) + "..." %>
                            </h3>
                        </a>
                        <p class="post-meta">
                            Posted by <a href="#!">
                                <%= post.writer %>
                            </a> on <%= post.createdAt?.toDateString() %>
                        </p>
                    </div>
                    <% }); %>
                        <!-- Divider -->
                        <hr class="my-4" />
            </div>
        </div>
    </div>

    <%- include("partials/footer") %>